{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Inscrivez-Vous!</title>
</head>

<body>
    <div class="container">
<!-- signup form -->
        <div class="signup-wrap active">
            <div class="title">
                <h1>Inscrivez-vous</h1>
            </div>
            <!--{% if form.errors %}
                    <div class="alert" role="alert">
                        <strong style='text-decoration-color: aliceblue; text-decoration: underline; color: antiquewhite; font-weight: bold; justify-content: center; display: flex;'>Il y'a une erreur dans votre formulaire...</strong>
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close" style="display:none ;" >
                        <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
            {% endif %}-->

            <form method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="input-area">
                    {{ field }}
                    {{ field.label_tag }}
                    {% if field.errors %}

                    {% endif %}
                </div>
                <p>
                    <strong style='text-decoration-color: aliceblue; text-decoration: underline; color: antiquewhite; font-weight: bold; justify-content: center; display: flex;'>
                        {{field.errors}}
                    </strong>
                </p>
            {% endfor %}
            <div class="button-area">
                <button type="submit" value="submit" class="signup-btn">Inscrivez-vous!</button>
            </div>
        </form>
            

            <div class="form-toggle-area">
                <p>Déjà inscrit ? <a href="{% url 'login' %}"><span id="toggle-login" >Se Connecter</span> </a></p>
            </div>
        </div>
        <script src="{% static 'scripts/script.js' %}"></script>
</body>

</html>